body {
    background-color: #0000b3
}

#main {
    width: 1000px;
    height: 600px;
    margin:
    border:
}

h1 {
    text-align: center;
    font-family: 'Cinzel', serif;
	color: #F7F7F7  
}

h2 {
	text-align: center;
    font-family: 'Cinzel', serif;
	color: #F7F7F7  
}

h3 {
	text-align: center;
	font-family: 'Cinzel', serif;
	color: #F7F7F7
}

p {
	text-align: center;
    font-family: 'Cinzel', serif;
	color: #F7F7F7
}

footer {
    text-align: left;
	font-family: 'Cinzel', serif;
	color: #F7F7F7
}

.footer{
	text-align: center;
	padding: 10px;
	font-size: 18px;
}

.topnav {
    background-color: #000066;
	font-family: 'Cinzel', serif;
    overflow: hidden;
}


.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}


.topnav a:hover {
    background-color: #ddd;
    color: black;
}


.active {
    background-color: #3333ff;
    color: white;
}


.topnav .icon {
    display: none;
}